/* Works on Firefox */
* { scrollbar-width: thin; scrollbar-color: rgb( 226, 214, 189 ) rgba( 255, 255, 255, 0 ); }
*::-webkit-scrollbar { width: 3px; }
*::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0); }
*::-webkit-scrollbar-thumb { background-color: rgb( 226, 214, 189 ); border-radius: 25px; }

@font-face {
    font-family: TheLastKingdom;
    src: url( "/font/The_Last_Kingdom.ttf" ) format( "truetype" );
}

body {
    background-image: url( "/assets/graphic/background/bg-image.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.cursor-none {
    pointer-events: none !important;
}

#km-main, #km-menu {
    font-family: "TheLastKingdom", "Nunito", sans-serif !important;
}
#km-main {
    font-size: calc(1.5825rem + 0.39vw) !important;
}
#km-menu {
    font-size: calc(1.2825rem + 0.39vw) !important;
}

#app .dropdown-menu {
    border: 0px;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-item.active {
    color: var(--bs-navbar-active-color);
}

.dropdown-item:hover, .btn-group-km .btn-km:hover, .btn-km.active {
    background-image: url( "/assets/graphic/background/body.jpg" );
    background-repeat: repeat;
}

#app .card {
    background-image: url( "/assets/graphic/background/content.jpg" );
    background-repeat: repeat;
}

#app .navbar,
.bg-km,
.btn-km,
.modal-content {
    background-image: url( "/assets/graphic/background/main.jpg" );
    background-repeat: repeat;
}

.progress-bar {
    background-color: #9E7A56 !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn-group-km .btn-km:hover, .btn-km.active {
    border-color: #E1D7BC !important;
}

.bg-km, .btn-km {
    border-color: #F0EADE !important;
}

table td, table th {
    border-color: #B5BABE !important;
}

.table-fixed {
    height: calc( 100vh - 140px );
    overflow: auto;
}


@media ( min-width:  768px ) { .table-fixed { height: calc( 100vh - 180px ); } }
@media ( min-width: 1400px ) { .table-fixed { height: calc( 100vh - 185px ); } }

.table-fixed thead th {
    background-image: url( "/assets/graphic/background/content.jpg" );
    background-repeat: repeat;
    position: sticky;
    z-index: 1;
    top: 0;
}

.bi-05 {
    font-size: .5rem !important;
}

#overview-buildings td {
    min-height: 35px;
}
#overview-buildings td img {
    width: 20px;
}

#villages td {
    min-height: 40px;
}
#villages tbody th {
    min-width: 100px;
}

#building-queue td:first-child img,
#builded td:first-child img,
#not-build td img {
    max-width: 45px;
    max-height: 50px;
}
#builded td:nth-child(2) img {
    width: 15px;
}
#builded tr,
#not-build tr {
    height: 60px;
}
