
@font-face {
    font-family: TheLastKingdom;
    src: url( "/font/The_Last_Kingdom.ttf" ) format( "truetype" );
}

body {
    background-image: url( "/assets/graphic/background/body.jpg" );
    background-repeat: repeat;
}

#km-main, #km-menu {
    font-family: "TheLastKingdom", "Nunito", sans-serif !important;
}
#km-main {
    font-size: calc(1.5825rem + 0.39vw) !important;
}
#km-menu {
    font-size: calc(1.2825rem + 0.39vw) !important;
}

#app .dropdown-menu {
    border: 0px;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#app .navbar {
    background-image: url( "/assets/graphic/background/grey.jpg" );
    background-repeat: repeat;
}

#app .card {
    background-image: url( "/assets/graphic/background/main.jpg" );
    background-repeat: repeat;
}

table td, table th {
    border-color: #B5BABE;
}


.bi-05 {
    font-size: .5rem !important;
}

#overview-buildings td {
    min-height: 35px;
}
#overview-buildings td img {
    width: 20px;
}

#villages td {
    min-height: 40px;
}

#builded td:first-child img,
#not-build td img {
    max-width: 45px;
    max-height: 50px;
}
#builded td:nth-child(2) img {
    width: 15px;
}
#builded tr,
#not-build tr {
    height: 60px;
}

/* #not_build tr td img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
} */
