
@font-face {
    font-family: CrimsonText;
    src: url( "./font/CrimsonText.woff2" );
}

body {
    font-family: "CrimsonText", "Nunito", sans-serif !important;
}

#app .dropdown-menu {
    border: 0px;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.bi-05 {
    font-size: .5rem !important;
}
